* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.why {
    /* background: rgb(141, 248, 164); */
    height: 80vh;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.train-with-us {
    background: #FFF;
    width: 50%;
    overflow: unset;
}

.train-head {
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 10px;
    font-size: 25px;
}

.train-head-intro {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #1A406B;
    padding-bottom: 25px;
}

.train-head-detail {
    font-weight: 300;
    /* font-size: 20px; */
    /* line-height: 30px; */
    color: #1A406B;
    font-style: normal;
}

.benefits-list {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.train-benefits:after {
    content: "";
    display: table;
    clear: both;
}

.benefits-list ul li {
    list-style: none;
    padding: 10px 0px;
    color: #1A406B;
}

.benefits-icon {
    width: 18px;
    padding-right: 5px;
}

.train-with-us-illustration {
    size: 500px;
    /* margin: 50px; */
}

.train-with-us-illustration img {
    width: 90%;
}

.main-sponsor {
    margin-top: 20px;
    background: #E5E5E5;
    height: 60vh;
}

.sponsor-head {
    text-transform: uppercase;
    color: #1A406B;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 10px;
    font-size: 25px;
}

.sponsor {
    display: flex;
    width: 100%;
    padding: 30px 60px;
}

.sponsor-details {
    width: 70%;
    font-size: 20px;
    line-height: 30px;
}

.sponsor-logo {
    width: 300px;
}

button {
    margin-left: 60px;
    padding: 20px 40px;
    border-radius: 4px;
    border-style: none;
    color: #FFF;
    background: #E7332B;

}


@media (max-width: 800px) {
    
    .why {
        /* height: 80vh; */
        padding: 15px 20px;
        display: inline-block;
        /* justify-content: space-between; */
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .train-with-us {
        background: #FFF;
        
        width: 100%;
        overflow: unset;
    }

    .train-head {
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .train-head-intro {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #1A406B;
        padding-bottom: 25px;
    }

    

    .benefits-list ul li {
        list-style: none;
        padding: 8px 0px;
        color: #1A406B;
    }

    .train-with-us-illustration {
        padding-top: 400px;
        /* size: 500px; */
        margin: auto;
    }
    
    .train-with-us-illustration img {
        width: 50%;

    }

    .main-sponsor {
        background: #E5E5E5;
    }
    
    .sponsor-head {
        text-transform: uppercase;
        color: #1A406B;
        font-weight: 600;
        padding-top: 40px;
        padding-left: 60px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    
    .sponsor {
        display: flex;
        width: 100%;
        padding: 30px 60px;
    }
    
    .sponsor-details {
        width: 100%;
        font-size: 10px;
        line-height: 18px;
    }
    
}

@media (max-width: 400px) {
    .benefits-list {
        float: left;
        width: 100%;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    
}